.form{
   height: auto;
   width: 500px;
   .fields{

       .row{
           display: flex;
           justify-content: space-evenly;
           
       }
   }
   input{
    margin: 20px auto;
    padding: 10px 40px;
   }
   
}