.App {
  margin: 0;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  max-width: 1170px;
 
  /* background-color: rgb(186, 242, 242); */
}
@media (max-width:465px){
  .App{
    padding: 0;
  }
}

